- breadcrumb :project_members, @project
- content_for :title, t('.title', name: @project.name)
- content_for :head do
  = javascript_include_tag 'project_members', 'data-turbo-track': 'reload'

h1 プロジェクトメンバー設定

p クリックすると参加状態のOn/Offを切り替えることができます。

#project_members
