/* line 2, app/assets/stylesheets/estimates.scss */
dl.dl-horizontal.estimate dt {
  width: 210px;
}

/* line 5, app/assets/stylesheets/estimates.scss */
dl.dl-horizontal.estimate dd {
  margin-left: 225px;
}

/* line 12, app/assets/stylesheets/estimates.scss */
#estimates .panel.drop-area .panel-body, #bills .panel.drop-area .panel-body {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

/* line 17, app/assets/stylesheets/estimates.scss */
#estimates .panel.drop-area .panel-body.dragover, #bills .panel.drop-area .panel-body.dragover {
  border: #cccccc 4px dashed;
}

/* line 22, app/assets/stylesheets/estimates.scss */
#estimates table.confirm, #bills table.confirm {
  table-layout: fixed;
}

/* line 24, app/assets/stylesheets/estimates.scss */
#estimates table.confirm th, #bills table.confirm th {
  text-align: right;
  width: 14em;
}
