/* line 5, app/assets/stylesheets/projects.scss */
#projectSetting {
  width: 40em;
}

/* line 8, app/assets/stylesheets/projects.scss */
#projectSetting .list-group a {
  display: flex;
}

/* line 11, app/assets/stylesheets/projects.scss */
#projectSetting .list-group a .project-code {
  text-align: right;
  width: 5em;
}

/* line 16, app/assets/stylesheets/projects.scss */
#projectSetting .list-group a .project {
  flex: 1;
}

/* line 18, app/assets/stylesheets/projects.scss */
#projectSetting .list-group a .project.selected {
  font-weight: bold;
}

/* line 26, app/assets/stylesheets/projects.scss */
.project-members .list-group {
  width: 10em;
}

/* line 31, app/assets/stylesheets/projects.scss */
.label-default-translucent {
  background-color: rgba(119, 119, 119, 0.2);
}
