// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#projectSetting {
  width: 40em;

  .list-group a {
    display: flex;

    .project-code {
      text-align: right;
      width: 5em;
    }

    .project {
      flex: 1;
      &.selected {
        font-weight: bold;
      }
    }
  }
}

.project-members {
  .list-group {
    width: 10em;
  }
}

.label-default-translucent {
  background-color: rgba(119, 119, 119, 0.2);
}
