- content_for :head do
  = javascript_include_tag 'reports', 'data-turbolinks-track': 'reload'

h1 日報

= render_flash_message

= render 'pager', date: @date

#reports[data-reports-path=reports_path(format: :json)
         data-projects-path=settings_projects_path(format: :json)]
